/*============RESET============*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%; /*usado para trabalhar com unidades relativas*/
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box; /*define como a largura e a altura de um elemento são calculadas, quando usar um padding ele não vai alterar a dimensão do elemento*/
    font-family: 'Lato', sans-serif;
}
body { background-color: #f5f5f5;}
a { text-decoration: none; }
ul { list-style: none;}
img { max-width: 100%;}

/*============CONTAINER============*/
.container {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}
/*============CABECALHO============*/
.logo {
    width: 56px;
    height: 56px;
    float: left; /*para ele flutuar a esquerda*/
    background: url(../img/logo-mobile.png) center center/56px no-repeat;
    font-size: 0;
}
.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px; /* para deixar redondo do tamanho desejado*/
    cursor: pointer;
    background: linear-gradient(to right, #ce2e3c, #da6709 );/*direção do gradiente e depois de que cor para que cor*/
}

/*============MENU============*/
.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9); /*transparência*/
    top: 0;
    left: 0;
}
.btn-close {
    font-size: 1.5em; 
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li a:hover {
    border: 1px solid #da6709
}

/*============BANNER============*/
.banner {
    background: url(../img/bg.jpg) no-repeat fixed;
}
.title { width: 100%;}
.title h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
}
.title h3 {
    font-size: 1.5em;
    color: #fff;
}
.buttons { 
    width: 100%;
    margin-top: 2%;
}
.buttons i { float: right;}
.btn {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
}
.btn-cadastrar {
    background-color: #fff;
    color: #130400;
}
.btn-sobre {
    background-color: #130400;
    color: #fff;
    margin-top: 2%;
}
/*============SERVICOS============*/
.servico {
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}
.servico img {
    border-radius: 7px 7px 0 0; /*para arredondar só a parte superior da imagem*/
}
.inner { padding: 7%;}
.inner a {
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}
.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}
.inner p {
    margin-top: 6%;
    color: #130400; 
    line-height: 1.5em; /*para aumentar um pouco a altura das linhas*/
    /*aqui não precisou colocar o font-size por que a ideia é usar o padrão definido pelo navegador que é de 1em*/
}
/*============NEWSLETTER============*/
.newsletter {
    background-color: #130400;
}
.newsletter h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}
.newsletter h3 { color: #fff;}
.newsletter form { margin-top: 2%;}
.newsletter input {
    width: 100%;
    background-color: #130400;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5%;
    border-radius: 5px;
}
.newsletter button {
    width: 100%;
    background-color: #fff;
    color: #130400;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
}
/*============FOOTER============*/
.rodape {
    background: linear-gradient(to right, #ce2e3c, #da6709 );
}
.social-icons a {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 3%; /*para que os links não fiquem colados*/
}
.social-icons a:last-child { margin-right: 0; } /*tira a margem do último ícone pra evitar algum erro de alinhamento posterior*/
.social-icons a:hover { color: rgb(255, 255, 255); } /*tira a transparência e mostra o branco normal*/
.copyright {
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.7);
}
/*============MEDIA PRINT - AJUSTES PARA IMPRESSÃO============*/
@media print {
    .title h2 {
        margin-top: 2%;
        font-size: 2.5em;
        color: red;
        font-weight: 700;
        margin-bottom: 1%;
    }
    .title h3 {
        font-size: 1.5em;
        color: blue;
    }
    .buttons { display: none;}
    .cabecalho { display: none;}
    .newsletter { display: none;}
    .servico a { display: none;}
    .servico {
        width: 100%;
        text-align: left;
        margin-bottom: 1%;
    }
    .inner h4 {
        font-size: 1.2em;
        color: #130400;
        margin-top: 1%;
    }
    .inner p {
        margin-top: 2%;
        color: #130400; 
        line-height: 1.5em; 
    }
}
/*============MEDIA SCREEN - AJUSTES PARA OUTROS TIPOS DE MONITORES============*/
/*============MOBILE FIRST============*/
/*SMALL DEVICES - SMARTPHONES*/
@media screen and (min-width: 480px) {
    .logo {
        width: 214px;
        background: url(../img/logo.png) center center/214px no-repeat;
    }
    .btn {
        font-size: 2em;
    }
}
/*SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px) {
    .servico {
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .servico:nth-child(2){ margin-right: 0;}
    .newsletter h2 { font-size: 2em;}
    .newsletter h3 { font-size: 1.5em;}
    .newsletter input {
        width: 70%;
        padding: 2%;
        float: left;
        margin-right: 1%;
    }
    .newsletter button {
        width: 29%;
        padding: 2%;
        float: right;
        margin-top: 0;
    }
    .inner h4 {
        font-size: 1.4em;
        color: #130400;
        margin-top: 2%;
    }
    .inner p {
        margin-top: 6%;
        color: #130400; 
        font-size: 1.3em;
        line-height: 1.5em; /*para aumentar um pouco a altura das linhas*/
        /*aqui não precisou colocar o font-size por que a ideia é usar o padrão definido pelo navegador que é de 1em*/
    }
}
/*MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
    .title {
        width: 70%;
        float: left;
        text-align: left;
    }
    .title h2 { font-size: 3em; }
    .title h3 { font-size: 2em; }
    .buttons {
        width: 30%;
        float: right;
        margin-top: 0;
    }
    .servico { width: 32%; }
    .servico:nth-child(2){ margin-right: 2%;}
    .servico:nth-child(3){ margin-right: 0;}
    .newsletter input {
        width: 60%;
        float: none;
    }
    .newsletter button {
        width: 20%;
        float: none;
    }
}
/*LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1280px) {
    .btn-menu { display: none;}
    .btn-close { display: none;}
    .menu {
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #f5f5f5;
        display: block !important;
        position: static;
    }
    .menu ul {
        width: 100%;
        float: left;
        text-align: center;
    }
    .menu li {
        padding: 0;
        float: left;
    }
    .menu li a {
        font-size: 1.2em;
        color: #130400;
        padding: 15px;
    }
    .menu li a:hover {
        border: none;
        color: #da6709;
    }
}